# Dependencies
/node_modules
/.npmrc # (Unless you need to share specific registry/config for the team)
/.pnpm-store
/.yarn/cache

# Build/Generated folders and files
/out
/release
/dist
build/

# Environment and Local Data
/.env
/.env.*local
/sqlite.db
/*.sqlite

# VS Code
/.vscode/

# Drizzle (Add specific files if Drizzle creates large, unneeded files)
# /drizzle # (If Drizzle generates files in a 'drizzle' directory)

# Operating System Files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
